<div class="container">
    <div class="py-5 text-center">
        <h2>База заказов</h2>
        <p class="lead">Сегодня нет новых заказов. Детали в наличии, в ближайшее время не потребуется дозакупка.</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4 class="mb-3">Новый заказ</h4>
        </div>
        <orders-widget :orders="list"></orders-widget>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2018 AYIV</p>
    </footer>
</div>